<h2>Name: <%=@artist.name %></h2>
<% if logged_in? %>
  <% if @artist.id == current_user.id #todo cancan? need to be nested? %>
    <%= button_to "Upload a new image", new_artist_piece_path(@artist), :method => :get, :class => "btn btn-secondary" %>
    <%= button_to "Edit your profile", edit_user_path(@artist), :method => :get, :class => "btn btn-info"%>
  <% end %>
<% end %>
<hr>
<!-- todo i dont know
<%# if current_user && current_user.id == @artist.id %>
  <p>Most recent sale:</p>
  <ol>
  
  <%# @recent_cart.line_items.each do |item| %>
    <li><%#= Piece.find(item.piece_id).name %></li>
  <%# end %>
  </ol>
  <p>Total: $<%#= @recent_cart.total %></p>
<#% end %>
-->

<br>
<h3><%=@artist.first_name%>'s Works:</h3>
<%= render partial:'artists_pieces', locals: {artist: @artist}%>

