<div class="center">
  <%= f.text_field :name, :placeholder => "Name" %>
  <%= f.text_field :price, :placeholder => "Price" %>
  </div > 
  <%= f.check_box :prints_available %> 
  <%= f.label :prints_available %>
  <br>
  <%= f.check_box :original_available %>
  <%= f.label :original_available %>
  <hr>
  <br>
  <h4>Categories:</h4>
  <br>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b|%>
    <%= b.check_box %>
    <%= b.label %>
    <br>
  <% end %>
  <br>
  <%= f.label :new_category %>
  <%= f.fields_for :categories, @piece.categories.build do |categories_fields| %>
    <%= categories_fields.text_field :name %>
  <% end %>
  <br>

