<h2>Add a new piece to your collection</h2>
<div>
<%= form_for @piece do |f| %> <!-- TODO adbtract this to form partial? -->
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.check_box :prints_available? %> <!-- TODO add print types? i.e. cards/tshirts/etc. -->
  <%= f.label :prints_available%>
  <br>
  <%= f.check_box :original_available? %>
  <%= f.label :original_available%>
  <br>
  <h4>Categories:</h4>
  <br>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b|%>
    <%= b.check_box %>
    <%= b.label %>
    <br>
  <% end %>
  <br>
  <%= f.label :new_category %>
  <%= text_field_tag "piece[new_category]" %> <!--Better way to do this? -->
  <br>
  <%= f.submit "Add Piece"%>
<% end %>
</div>