<nav class="">
    <ul>
        <li> Add store home here </li>
        <% if !logged_in? %>
            <li><%= link_to "Sign in", login_path %></li>
            <li><%= link_to "Sign up", new_user_path %></li>
        <% else %>
            <li>Cart: $<%= link_to current_user.current_cart.total, cart_path(current_user.current_cart) %><%=current_user.current_cart %></li>
            <li><%= link_to current_user.first_name, user_path(current_user) %></li>
            <li><%= link_to "Sign out", logout_path, method: :delete %></li>
        <% end %>
    </ul>
</nav>